# Ignore Terraform local directories

**/.terraform/*

# Ignore state files

*.tfstate
*.tfstate.*

# Ignore crash logs

crash.log
crash.*.log

# Ignore override files

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform lock file (optional, can be committed for reproducible builds)

.terraform.lock.hcl

# Ignore CLI config files

.terraformrc
terraform.rc
